<section class="parallax-container jumbotronParallaxContainer">
  <div class="parallax">
    <img
      src="/assets/images/jumbotron-background.jpg"
      class="pictureSkeleton"
    />
  </div>
  <div class="container">
    <div class="row center">
      <h1 class="col s12 green-text text-lighten-2 headerOne">GREEN SHOP</h1>
      <h4 class="col s12 white-text text-lighten-2 headerFour">
        Hello welcome to the green shop, we sell fresh vegetables and fruits
        with the best quality
      </h4>
    </div>
  </div>
</section>
